<div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span style="font-size: 30px">Menu</span>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/addEvent">
            <span>Events</span>
        </button>
        <button mat-menu-item routerLink="/addContact">
            <span>Contacts</span>
        </button>
        <button mat-menu-item routerLink="/addskills">
            <span>Skills</span>
        </button>
        <button mat-menu-item routerLink="/searchInspiration">
            <span>Inspiration</span>
        </button>   
        <button mat-menu-item routerLink="/video-search">
            <span>Search Videos</span>
        </button>   
    </mat-menu>
    </div>
<div style ="text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <h1 style="font-size: 60px; color: blue; ">Welcome to MySite</h1>
    <h2>Click the Menu to get started</h2>
</div>