<!DOCTYPE html>
<html lang="en">
<app-navigation2-menu></app-navigation2-menu>
<h1>Add a Skill</h1>
<form [formGroup]="skillForm" (submit)="onSubmit()">
  <label for="name">Skill Name:</label>&nbsp;
  <input type="text" id="name" formControlName="name" required>
  &nbsp;
  <label for="proficiency">Skill Proficiency:</label>&nbsp;
  <select id="proficiency" formControlName="proficiency" required>
    <option value="Beginner">Beginner</option>
    <option value="Intermediate">Intermediate</option>
    <option value="Advanced">Advanced</option>
    <option value="Expert">Expert</option>
  </select>
  <br><br>
  <button type="submit">Add Skill</button>
</form>
