<app-navigation2-menu></app-navigation2-menu>
<!-- Display a heading for the component -->
<h2>List of Skills</h2>

<!-- Create a container for the skills list -->
<div>
  <!-- Use *ngFor to iterate over the skills array and display each skill -->
  <ul *ngFor="let skill of skills; let i = index">
    <li>
      <!-- Display the skill details -->
      {{ skill.name }}: {{ skill.proficiency }} (index {{ i }})

      <!-- Add buttons for actions like delete and update -->
      <button mat-button color="warn" (click)="onDelete(skill._id)">DELETE</button>
      <button mat-button color="accent" [routerLink]="['/editSkill', skill._id]">UPDATE</button>
    </li>
  </ul>
</div>
