<div>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="font-size: 30px">Menu</span>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/homePage">
      <span>Home</span>
    </button>
    <button mat-menu-item routerLink="/addInspiration">
      <span>Add Inspiration</span>
    </button>
    <button mat-menu-item routerLink="/listInspiration">
      <span>List Inspiration</span>
    </button>
    <button mat-menu-item routerLink="/searchInspiration">
      <span>Search Inspiration</span>
    </button>
  </mat-menu>
</div>
